@import "./navbar.css";
@import "./auth.css";
@import "./classes.css";
@import "./imagens.css";
@import "./effects/parallax.css";
@import "./effects/sessao.css";

@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lexend:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-c: 15, 15, 15;
    --sec-c: 246, 242, 255;
    --tert-c: 43, 48, 59;
    --quat-c: 250, 255, 204;
}

#colors {
    color: rgb(15, 15, 15);
    color: rgb(246, 242, 255);
    color: rgb(43, 48, 59);
    color: rgb(250, 255, 204);
}

body {
    font-family: "Lexend", sans-serif;
}
