.parallax-container{
    display: block;
    width: 100%;
    height: 100vh;
}
.parallax{

    width: 100%;
    height: 100%;
    background-image: url("/img/pao-de-acucar_rio-de-janeiro.jpg");
    
    background-position: center;
    background-size: cover;


}